*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/cinema3.PNG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
    width: 50%;
    
}

.container{
    
  padding: 2%;
    margin: 0 auto;
}
nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav .logo{
    
    margin-top: 10px;
    font-size: 30px;
    font-style: italic;
    color: black;
    font-weight: bold;
    font-family: fantasy;
    
    margin-bottom: 30px;
   
}
nav ul{
    list-style: none;
    margin-left: 20px;

}

nav ul li{
    display: inline-block;
    
}

nav ul li a{
    padding: 10px 20px;
    font-family: cursive;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border-radius: 20px;
    transition: 0.5s;

}

nav ul li a:hover{
    background-color:  rgb(252, 253, 253);
    color: black;
    width: 10px;
    height: 10px;

}

#glumac-table{
    
    margin-right: 600px;
    width: 65%;
   align-items: center;
    border-collapse: collapse;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(115, 231, 239);
    
}

#glumac-table thead{
    font-family: cursive;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1rem;
    color: black;
    align-items: center;
}

#glumac-table thead tr{
    padding: 4px;
    background-color:rgb(255, 255, 255);
    font-family: cursive;
    align-items: center;
    
}


#glumac-table th,
#glumac-table td{
    padding: 3px;
    align-items: center;

}

#glumac-table tbody tr{
    border-bottom: 1px solid rgb(245, 238, 179) ;
    color: black;
    align-items: center;
    font-family: cursive;

}

#glumac-table tbody tr:nth-of-type(even){
    background-color:white;
    color: black;
}

#glumac-table tbody tr:last-of-type{
    border-bottom: 2px solid rgba(239, 239, 10, 0.908);
}

.quote{
    margin-top: 30px;
    margin-left: 100px;
}

#reziser-table{
    align-items: center;
    align-content: center;
    margin-right: 600px;
     width: 65%;
     font-family: cursive;
     border-collapse: collapse;
     border-radius: 5px 5px 0 0;
     overflow: hidden;
     box-shadow: 0 0 20px rgb(115, 231, 239);
     
 }
 
 #reziser-table thead{
     margin-bottom: 10px;
     font-size: 1rem;
     color: black;
     align-items: center;
 }
 
 #reziser-table thead tr{
     padding: 4px;
     background-color:rgb(255, 255, 255);
     align-items: center;
     
 }
 
 
 #reziser-table th,
 #reziser-table td{
     padding: 3px;
     align-items: center;
 }
 
 #reziser-table tbody tr{
     border-bottom: 1px solid rgb(245, 238, 179) ;
     color: black;
     align-items: center;
 
 }
 
 #reziser-table tbody tr:nth-of-type(even){
     background-color:white;
     color: black;
 }
 


 .form-group{
     margin-top: 6px;
 }

 .form-group .col-md-4{
    padding: 5px;
    margin-top: 5px;
 }


 #film-table{
   position: center;
   z-index: 2;
   margin-top: 5px;
   margin-right: 600px;
    width: 72%;
   
   border-collapse: collapse;
   border-spacing: 0;
   border-radius: 12px 12px 0 0;
   overflow: hidden;
   box-shadow: 0 12px 5px rgba(32,32,32.3);
   background: #ffffff;
   text-align: center;  
 }

 #film-table thead{
    
    font-size: 1rem;
   
    align-items: center;
}

#film-table thead tr{
    font-family: cursive;
    background-color: rgb(145, 194, 244);
}

#film-table tbody tr{
    font-family: cursive;

}

#myInput {
    color: black;
    width: 355px;
    height: 60px;
    background: #fffefd;
    margin-top: 7px;
    border-radius: 15px;
    font-weight: bold;
    border: 2px solid black;
    text-align: center;
}

.col-md-4{
    padding: 5px;
    display: inline-block;
    align-items: center;
    justify-content: space-between;

    
}

